
@import "basscss-base-reset";
@import "basscss-base-typography";
@import "basscss-color-base";
@import "basscss-utility-typography";
@import "basscss-utility-layout";
@import "basscss-white-space";
@import "basscss-highlight";
@import "basscss-borders";
@import "basscss-defaults";


pre {
  padding: 0 var(--space-2);
  border-left: 4px solid var(--darken-1);
}

code {
  color: var(--red);
  font-size: 87.5%;
}

a {
  text-decoration-color: var(--aqua);
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  text-decoration: none;
}

.link-block {
  display: block;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
}

.container {
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
} 

.georgia { font-family: var(--serif) }
.compact { font-family: 'SF Compact Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif }

.caps { letter-spacing: .1em }

.prose {
  font-family: var(--serif);
  font-size: var(--h4);
}

.prose p,
.prose ul,
.prose ol,
.prose dl {
  font-size: inherit;
}

.prose p:first-child { font-size: var(--h3) }

.prose img {
  height: auto;
}

@media (--breakpoint-sm) {
  .serif, .prose { font-size: var(--h3) }
  .prose p:first-child { font-size: var(--h2) }
}

:root {
  --font-family: 'SF UI Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --heading-font-family: 'SF UI Display', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --serif: Georgia, serif;
  --h4: 1.125rem;
  --line-height: 1.625;
  /*
  --bold-font-weight: 500;
  */
  --bold-font-weight: bold;
  --heading-font-weight: var(--bold-font-weight);
  --button-font-weight: var(--bold-font-weight);
  --button-font-size: var(--h5);
  --pre-font-size: 75%;
  --space-1: .75rem;
  --space-2: 1.5rem;
  --space-3: 3rem;
  --space-4: 6rem;
  --link-color: inherit;
  --link-text-decoration: underline;
  --container-width: 48em;
}

