
.container {
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
} 

.link-simple { text-decoration: none }

.serif,
.prose p,
.prose ul,
.prose ol {
  font-family: var(--serif);
}

.prose p:first-child { font-size: var(--h3) }

.prose blockquote {}

:root {
  --serif: Georgia, serif;
}

