* { box-sizing: border-box }

body {
  margin: 0;
  font-family: 'Lexend', system-ui, sans-serif;
  line-height: 1.75;
  color: white;
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: cyan;
  background-color: rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 4px 4px rgba(0, 255, 255, 0.2);
  /* glow */
  text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 16px #0ff;
  ;
}

.h0 { font-size: 9vw }
.h1 { font-size: 24px }
.h2 { font-size: 20px }
.h3, .h4 { font-size: 16px }
.h5 { font-size: 12px }

.container {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.t2 { letter-spacing: 0.8em }
.t3 { letter-spacing: 1.6em }

.rev {
  color: black;
  background-color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-grow { flex-grow: 1 }

.p1 { padding: 4px }
.p2 { padding: 8px }
.p3 { padding: 16px }
.p4 { padding: 32px }
.p5 { padding: 64px }

.m0 { margin: 0 }
.ma { margin: auto }

.mt1 { margin-top: 16px }
.mt2 { margin-top: 32px }
.mt3 { margin-top: 64px }
.mt4 { margin-top: 128px }

.mb1 { margin-bottom: 16px }
.mb2 { margin-bottom: 32px }
.mb3 { margin-bottom: 64px }
.mb4 { margin-bottom: 128px }

.mr1 { margin-right: 16px }
.mr2 { margin-right: 32px }
.mr3 { margin-right: 64px }
.mr4 { margin-right: 128px }

.ml1 { margin-left: 16px }
.ml2 { margin-left: 32px }
.ml3 { margin-left: 64px }
.ml4 { margin-left: 128px }


/* angled boxes */
.angr,
.angl {
  position: relative;
  height: 64px;
}
.angr::after,
.angl::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
  display: block;
  height: 64px;
  width: 32px;
}

.angr::after {
  right: -32px;
  /* angle down */
  background-image: linear-gradient(63.43deg, white 50%, transparent 50%);
}
.angl::after {
  left: -32px;
  background-image: linear-gradient(243.43deg, white 50%, transparent 50%);
}
.angr-up::after {
  /* angle up */
  background-image: linear-gradient(116.565deg, white 50%, transparent 50%);
}
.angl-up::after {
  background-image: linear-gradient(-63.435deg, white 50%, transparent 50%);
}
.angr-sm, .angl-sm {
  height: 32px;
}
.angr-sm::after,
.angl-sm::after {
  height: 32px;
  width: 16px;
}
.angr-sm::after {
  right: -16px;
}
.angl-sm::after {
  left: -16px;
}

.bar {
  border: 0;
  height: 4px;
  background-color: white;
  position: relative;
  overflow: visible;
}
.bar::after {
  content: '';
  display: block;
  width: 128px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  /* background-image: linear-gradient(63.43deg, transparent 16px, white 16px); */
  background-image: linear-gradient(45deg, transparent 32px, white 32px);
}
.barl::before {
  content: '';
  display: block;
  width: 96px;
  height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(44deg, white 64px, transparent 64px);
}

.bg-warning {
  background-image: url(images/warning-stripes.svg);
  background-repeat: repeat;
}

